body
{
    background-color: #ffc5e6;
    margin: 0;
    font-family: Poppins;
}


header
{
    background-color: #ff257e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}


h1
{
    margin: 0;
    color: white;
    font-size: 80px
}


.etape
{
    background-color: #ffffff;
    margin: 50px;
}


svg
{
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 20px;
}


h2
{
    background-color: #ff2644;
    padding: 10px;
    font-size: 60px;
    margin: 0;
}


.content
{
    padding: 20px;
}


.compte_a_rebours
{
    font-size: 30px;
    text-align: justify;
}